@if (Context.User.Identity.IsAuthenticated){
    <li class="nav-item">
        <a class="nav-link text-danger"
       asp-controller="Cubos"
       asp-action="Index">
            Cubos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger"
           asp-controller="Cubos"
           asp-action="CubosPorMarca">
            Cubos Marca
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"
            asp-controller="Cubos"
            asp-action="PerfilUsuario">
            Perfil Usuario
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"
            asp-controller="Cubos"
            asp-action="PedidosUsuario">
            Pedidos Usuario
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"
       asp-controller="Managed"
       asp-action="Logout">
            Log Out
            <span style="color:blue">@Context.User.Identity.Name</span>
        </a>
    </li>
}else{
    <li class="nav-item">
        <a class="nav-link text-dark"
            asp-controller="Cubos"
            asp-action="CreateUser">
            Crear Usuario
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"
            asp-controller="Managed"
            asp-action="Login">
            Log In
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"
            asp-controller="Cubos"
            asp-action="PerfilUsuario">
            Perfil Usuario
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"
            asp-controller="Cubos"
            asp-action="PedidosUsuario">
            Pedidos Usuario
        </a>
    </li>
}